:root {
	--michblue: #00274c;
	--michgold: #ffcb0b;
	--primary-dark: var(--michblue);
	--primary-text: var(--michblue);
}


.hero .slide {
  z-index: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 90vh;
  transition: opacity 1s ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
.hero .slide.show {
  opacity: 1;
}

.header {
	background-color: var(--michblue);
}

.header__title__link {
	color: var(--michgold);
}

.menu__items__item__link {
	color: var(--michgold);
}

.footer {
	background-color: var(--michblue);
}

.menu__items__item__link:hover,
.menu__items__item__link:focus {
	color: var(--michgold);
}

.ripple-btn {
	background-color: var(--michgold);
	color: var(--michblue);
}

.ripple-btn:hover,
.ripple-btn:focus {
	background-color: var(--michgold);
	color: var(--white);
}

