:root {
	--michblue: #00274c;
	--michgold: #ffcb0b;
	--primary-dark: var(--michblue);
	--primary-text: var(--michblue);
}

.menu__items {
	justify-content: flex-end;
}

.menu__items__item {
	margin: 0 3.0rem;
}

.menu__items__item__link {
	font-weight: 500;
	font-size: 14pt;
}

.hero .slide {
  z-index: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 90vh;
  transition: opacity 1s ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  vertical-align: middle;
}
.hero .slide.show {
  opacity: 1;
}

.hero .caption {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 90vh;
  left: 0;
  height: 10vh;
  transition: opacity 1s ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--michblue);
  opacity: 0;
  color: white;
  text-align: center;
  display: flex;
  display: -webkit-flex;
}
.hero .caption.show {
  opacity: 1;
}

.header__title__logo {
	max-width: 20rem;
	vertical-align: middle;
	width: 100%;
}

.header {
	background-color: var(--michblue);
}

.header__title__link {
	color: var(--michgold);
}

.menu__items__item__link {
	color: var(--michgold);
}

.footer {
	background-color: var(--michblue);
}

.menu__items__item__link:hover,
.menu__items__item__link:focus {
	color: var(--michgold);
}

.cta__btn {
	border-style: solid;
	border-width: thick;
	border-color: var(--michblue);
}

.ripple-btn {
	background-color: var(--michgold);
	color: var(--michblue);
	font-weight: bold;
	font-size: 100%;
}

.ripple-btn:hover,
.ripple-btn:focus {
	background-color: var(--michgold);
	color: var(--white);
}

